<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
        .form-div {
            /* position: absolute; */
            margin-top: 15vh;
            background: #fff;
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px 0 #000;
        }

        .main-div {
            background: url();
            background-repeat: no-repeat;
            width: 100%;
            height: 100vh;
            background-size: 100%;

        }
    </style>
</head>

<body>
    <%- include("../partials/navbar") %>
    <div class="container text-center main-div">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-sm-6 col-md-6">

                <!-- <form action="/login_signup/login" method="POST" class="form-div"> -->
                <form  class="form-div" id="form">
                    <h2>LOGIN</h2>
                    <div class="form-group mt-4">
                        <!-- <label for="email"></label> -->
                        <input required value="" type="text" name="email" id="email" class="form-control"
                            placeholder="Email Id">
                    </div>
                    <div class="form-email"></div>

                    <div class="form-group mt-4">
                        <!-- <label for="password"></label> -->
                        <input required value="" type="text" name="password" id="password" class="form-control"
                            placeholder="Password">
                    </div>
                    <div class="form-password"></div>

                    <div class="form-group mt-4">
                        <button class="btn btn-primary btn-block" type="submit" value="Submit"
                            id="submit-btn">Submit</button>
                    </div>
                    <div class="form-group mt-4">
                        <a href="#">Forgot Password ?</a>
                    </div>
                    <div class="form-group mt-4">
                        <p>Don't Have an Account. <a href="./register">Register Here</a></p>
                    </div>

                </form>
            </div>
        </div>
    </div>

    
    <script>


        const formFields = document.querySelector('form');

        const email_error = document.querySelector('.form-email');
        const password_error = document.querySelector('.form-password');

        formFields.addEventListener('submit', async (e) => {
            e.preventDefault();

            // reset error-divs
            email_error.innerText = "";
            password_error.innerText = "";

            // get values 
            const email = formFields.email.value;
            const password = formFields.password.value;

            try {
                const res = await fetch('/login_signup/login', {
                    method: "POST",
                    body: JSON.stringify({ email, password }),
                    headers: { "Content-Type": "application/json" }
                });

                const data = await res.json();
                // console.log(data['email']);
                if (data['email']) {
                    email_error.innerText = data.email;
                }
                if(data.password){
                    password_error.innerText = data.password;
                }
                if(data.userData) {
                    location.assign('/home');
                }
            }
            catch (err) {
                console.log(err);
            }

        })

    </script>

</body>

</html>