
html,body{
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Numans', sans-serif;
}

.form-div {
    /* position: absolute; */
    margin-top: 15vh;
    background: #fff;
    padding: 30px;
    /* border-radius: 10px; */
    box-shadow: 0 0 10px 0 #000;
}

.main-div {
    background: url();
    background-repeat: no-repeat;
    width: 100%;
    /* height: 100vh; */
    background-size: 100%;
}

