
@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {

    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;

}

* {
    font-family: var(--font-para);
}

.logo{
    color: red;
}

#nav{
    padding: 8px;
}

#logo{
    font-size: 25px;
    margin-left: 15px;
}

#home{
    font-size: 22px;
    margin-right: 30px;
}

#username{
    font-size: 22px;
    margin-right: 25px;
}


#logout{
    font-size: 22px;
    margin-right: 15px;
}


#login{
    font-size: 22px;
    margin-right: 25px;
}


#signup{
    font-size: 22px;
    margin-right: 15px;
}