@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans&display=swap');

:root {
    --bg-size: 100% 100%;
    --main_color: #fff;
    --title: 'Josefin Sans', sans-serif;
    --font-para: 'David Libre', serif;
    --btn-color: #bbe1fa;
    --btn-font-color: #000;
    --btn-font: 1.5rem;
    --eff: .3s all ease;
}

* {
    font-family: var(--font-para);
}

/* html {
    font-size: 62.5%;
} */


p,
label,
input::placeholder {
    font-size: 1.5rem;
    line-height: 170%;
    color: #6c757d;
}



figure img,
.fab,
.fas {
    transition: var(--eff);
}


a,
a:hover {
    text-decoration: none;
    cursor: pointer;
}

body {
    background: hsl(84, 3%, 94%);
}

.btns{
    font-size: 1.3rem;
}

#category{
    border: 2px solid #6c757d;
}

#image{
    display: flex;
    align-items: center;
    justify-content: center;
}